#header {
	background-color: #186a7e;
	width: 110%;
	margin: -1%;
	padding: 20px;
	position: fixed;
}
#header h1, #header p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#header h1, #header #names p {
	color: #f9f9f9;
}
#header #names p {
	float: left;
	padding: 5px;
	margin-left: 10%;
}
#header #names {
	background-color: #39839b;
	width: 100%;
	margin-left: -20px;
	height: 50px;
}
.day {
	background-color: #000;
	border: 1px solid #f9f9f9;
	height: 200px;
	width: 110%;
	margin: -1%;
	color: #f9f9f9;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	}
.time {
	background-color: #363636;
	border: 1px dotted #f9f9f9;
	width: 110%;
	margin: -1%;
	color: #f9f9f9;
	padding: 5px;
}