extends layout

block content
    h1 Schedule
    #headWrapper
        p Please select begining day
        select#week(style="visibility: hidden" autofocus='', required='')
            option.day(value='1') Monday
            option.day(value='2') Tuesday
            option.day(value='3') Wednesday
            option.day(value='4') Thursday
            option.day(value='5') Friday
            option.day(value='6') Saturday
            option.day(value='0') Sunday
        #showWeek(onclick='showWeek()') Select Starting Day
        #makeCal(onclick='makeCalendar()') Make Calendar
        p#result
    #wrapper
        form#form(method='post' action='submitSchedule')
            input(type='hidden' name='meetingId' value=meetingId)
            table#output
            input(type='text' name='name' required placeholder='Your Name')
            button(type='submit') Submit Schedule

    script(type='text/javascript', src='/javascripts/schedule.js')