extends layout

block content
    script(type='text/javascript', src='/javascripts/schedule.js')
        h1
            | Schedule
            p Please select begining day
            select#day(autofocus='', required='')
                option(value='1') Monday
                option(value='2') Tuesday
                option(value='3') Wednesday
                option(value='4') Thursday
                option(value='5') Friday
                option(value='6') Saturday
                option(value='0') Sunday
            button(onclick='makeTable()') Enter
            p#result
            #wrapper
                form#form(method='post')
                    table#output
