/*MAKE CALENDAR BUTTON*/
#makeCal, #showWeek {
    padding: 15px;
    background-color: #363636;
    color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0 5px 10px #333;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em;
    width: 200px;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    margin-left: -50px;
}

#makeCal {
    visibility: hidden;
}

#makeCal:hover, #showWeek:hover {
    background-color: #000;
}

/*SELECT DAY MENU*/
#week {
    width: 200px;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    margin-left: -48px;
    margin-top: -60px;
}
#showWeek{
    margin-top: 0px;
}
.day {
    padding: 12px;
    background-color: #4D8FA5;
    box-shadow: 0 5px 10px #333;
    width: 200px;
    cursor: pointer;
    font-weight: bold;
    font-size: .9em;
    font-family: Arial, Verdana, sans-serif;

}
.day:hover {
    background-color: #407789;
}
#group {
    width: 100px;
    margin: auto;
}